@import "./mixin";
* {
  @include defaultReset;
}

:root {
  @include formDesign;
  @include links;
}

.loginForm {
  height: inherit;
  width: inherit;
  border-radius: 18px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(6, 163, 163), rgb(127, 9, 153));
}

#loginFormUsername,
#loginFormPassword {
  font-weight: bolder;
  font-size: 15px;
  height: auto;
  width: 13rem;
  padding: 15px;
  border-radius: 8px;
}
