@mixin defaultReset {
  font-family: monospace;
  margin: 0 auto;
  padding: 0 auto;
}

@mixin links {
  a,
  a:visited,
  a:hover,
  a:active {
    color: rgba(255, 255, 255, 0.749);
    text-decoration: none;
  }
}

@mixin h1 {
  color: rgba(255, 255, 255, 0.801);
  text-shadow: 0px 4px 7px rgb(0, 0, 0);
}

@mixin formDesign {
  .welcomeDiv,
  .loginForm,
  .registerForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    border: solid rgba(0, 0, 0, 0.805) 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 330px;
    height: 500px;

    button {
      background-color: rgba(0, 0, 0, 0.444);
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 15px;
      height: auto;
      width: 15rem;
      padding: 15px;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        background: linear-gradient(45deg, rgb(12, 119, 12), rgb(7, 159, 32));
        text-shadow: 0px 0px 3px black;
      }
    }
  }
}

@mixin textDesign {
  font-weight: bolder;
  font-size: 15px;
  height: auto;
  width: 13rem;
  padding: 15px;
  border-radius: 8px;
}
