@import "./mixin";
* {
  @include defaultReset;
}

:root {
  @include formDesign;
  @include links;
  @include h1;
}

.welcomeDiv {
  background: linear-gradient(45deg, rgb(90, 9, 78), rgb(37, 92, 13));
}

#toLoginBtn {
  background-color: rgb(41, 112, 41);
  border-radius: 10px;
}

#createAccountBtn {
  background-color: rgb(255, 124, 1);
  border-radius: 10px;
}
