@import "./mixin";
* {
  @include defaultReset;
}

:root {
  @include formDesign;
  @include links;
  @include h1;
}

.registerForm {
  background: linear-gradient(45deg, #4539eb, #036b6e, #3bf3c5);
}

#registerFormUsername,
#registerRepeatPassword,
#registerFormPassword {
  @include textDesign;
}

#welcomePopUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(20deg, rgb(42, 168, 42), rgb(51, 186, 196));
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0.61) 2px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  .welcomeText {
    text-shadow: 0px 4px 7px rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.911);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
  }
}
