#taskMainDiv {
  width: 400px;
  background-color: rgb(143, 188, 163);

  .taskDiv {
    display: inline-block;
    border: 4px double black;
    margin: 5px;
    width: 98%;
    height: auto;
    padding: 10px;
    background-color: rgb(56, 198, 162);
  }
}
