.taskDiv {
  display: inline-block;
  border: 4px double black;
  margin: 5px;
  width: 98%;
  height: auto;
  padding: 10px;
  background-color: rgb(172, 198, 56);
}

#taskMainDiv {
  width: 500px;
  background-color: rosybrown;
}
